

.all-posts{
    display: flex;
    flex-direction: column;
    margin: 0 !important;
    padding: 4vh !important;
    height: 85vh;
    width: 100%;
    overflow-y: auto !important;
}

.all-posts::-webkit-scrollbar{
    width: 0.3vw;
    background-color: #C3BEFF;
    border-radius: 1vw;
}

.text-area{
    width: 100%;
    margin-left: 4vh;
    margin-bottom: 1vh;
}

.text-area::-webkit-scrollbar{
    display: none;
}

