
.search-container{
    height: 5vh;
    background-color: #C3BEFF;
    padding-left:1vw;
    padding-right: 0.3vw;
    
}


.search-bar{
    width: 15vw !important;
    height: 4.5vh !important;
    font-size: small !important;
    border-radius: 3vw !important;
}





.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    margin: 0 !important;
    width: 100%;
    height: 50%;
    padding: 1vw;
    background-color: white;
    margin-bottom: 1vw !important;
}

.profile .btn{
    font-size: 1vw !important;
    height: 2.5vw;
    width: 10vw;
    
}

.profile .btn:hover{
    transform: scale(1.05);
}

.channel-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 !important;
    padding: 0 !important;
    height: 85vh;
    width: 100%;
    overflow-y: auto !important;
}

.channel-list::-webkit-scrollbar{
    width: 0.3vw;
    background-color: #C3BEFF;
    border-radius: 1vw;
}



.row {
    flex-shrink: 0 !important;
}


.col-titles{
    margin-top: 1vw;
    width: 95% !important;
    margin-bottom: 1vw;
}

.channel{
    width: 95%;
    height: 7vw;
    background-color: white;
    margin-bottom: 1vw;
    border: solid 0.1vw #dfdfdf;
}

.channel:hover{
    cursor: pointer;
    transform: scale(1.05);
    background-color: #C3BEFF;
}


.direct-messages{
    height:50% !important;
}

.create-channel-container{
    height:40% !important;
}

.create-channel-block{
    width: 90%;
    height: 100% ;
    background-color:white;
    border-radius: 1vw;
}

.create-channel-btn{
    background-color: black !important;
    border-color: black !important;
    color: white !important;  
}

.create-channel-btn:hover{
    transform: scale(1.05);
}

.create-channel-block img{
    height: 50% !important;
    margin-bottom: 1vw;
}

.new-channels-form {
    width: 60%;
}

.channel-form-button{
    width: 60% !important;
    background-color: #6C63FF !important ;
    border-color: #6C63FF !important ;
}




