
.all-conversations{
    height: 85vh !important;
    padding: 0 !important;
}

.child-blocks{
    margin-right: 0.5vw !important;
    width: 98% !important;
}

.user-info{
    padding: 2vh;
    width: 80% !important;
    font-size: small;

}

.connected-user-profile{
    display: flex !important;
    flex-direction: column !important;
    align-items:  center !important;
}

.sent-message, .recieved-message{
    display: flex;
    flex-direction: column;
    width: 55%;
    margin-top: 1vw;
    margin-bottom: 1vw;
}

.sent-message{
    margin-left: auto !important;
    align-items: flex-end !important;
}

.message{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    border-radius: 1vw;
    margin-left: 2.5vw;
    font-size: 0.87vw;
    padding: 1vw;
}


