.horizontal-placement{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.vertical-placement{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.full-width-bands{
    width: 100vw;
    background-color: #1A183F;
    color: white;
    padding: 0.5vw;
}

.text-img-container{
    width: 80vw !important;
    margin: 10vw !important;
}


.homepage{
    background-color: #FFF6F8;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    font-size: medium
}


.welcome-board{
    width: 100vw;
    background-color: #FFF1D6;   
}

.title{
    height: 10vh;
}

.people-group{
    height: 40vh;
}

.people-group img{
    height: 30vh;
    margin-top: auto;
}



.working-boy img{
    height: 30vh;
    margin-left: auto;
}

.working-team img{
    height: 40vh;
}

.info-card{
    height: 15vh;
    width:12vw;
    margin: 1vw;
}

.card{
    margin: 1vw;
}

.member-card{
    height: 10vh;
    width: 5vw;
    background-color: white;
    margin: 1vw;
}


.board-container{
    padding-top: 10vw;
}

.board-card{
    width: 50vw;
    height: 10vh;
    margin: 2vw;
    padding-left: 2vw;
    padding-right: 2vw;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); 
}


.greeting-people img{
    height: 30vh;
    align-items: flex-end !important;
}

.last-band-content{
    width:30vw !important;
    margin-top: 5vw;
    margin-bottom: 5vw;
}

.band-button{
    margin: 0.5vw;
    width: 10vw;
}


.form-img-text{
    width: 40%;
    height: 70vh;
    background-color: pink; 
}


.left-img{
    border-top-left-radius: 1vw; 
    border-bottom-left-radius:1vw ; 
}

.right-img{
    border-top-right-radius: 1vw; 
    border-bottom-right-radius:1vw ; 
}

.form-field{
    width:60%;
}

.carousel{
    width: 100% !important;
}
.carousel-item.active{
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
}

.carousel-indicators{
    display: none !important;
}



.wrap-container img{
    height: vw;
}

.wrap-container .btn{
    padding: 0 !important;
    background-color: white !important ;
    border:white !important ;
}

.wrap-container .btn:hover{
    background-color: #6C63FF !important ;
}

.wrap-container .btn.active{
    background-color: #6C63FF !important ;
}



.form-field form{
    width: 60% !important;
}

label.form-label{
    margin-bottom: 0 !important;
}

.form-img-text img{
    height: 30%;
    margin-top: 2vw;
}

.wrap-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 1vw;
}

.wrap-container img{
    height: 4vw;
    margin: 0.5vw;}