
.full-width-bands{
    width: 100vw;
    background-color: #1A183F;
    color: white;
    padding: 0.5vw;
}


.form-img-text{
    width: 40%;
    height: 35vw;
    background-color: pink; 
}


.left-img{
    border-top-left-radius: 1vw; 
    border-bottom-left-radius:1vw ; 
}

.right-img{
    border-top-right-radius: 1vw; 
    border-bottom-right-radius:1vw ; 
}


.form-field{
    width:60%;
}


.carousel{
    width: 100% !important;
    background-color: white !important;
}

.carousel-item.active{
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    background-color: white !important;
}

.carousel-item{
    background-color: white !important;
}

.carousel-indicators{
    display: none !important;
}

.carousel-control-prev{
    display: none !important;
}

.carousel-control-next{
    display: none !important;
}


.wrap-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 1vw;
}

.wrap-container img{
    height: 4vw !important;
    margin: 0.5vw;}


.wrap-container img{
    height:  3.5vw !important;
}

.wrap-container .btn{
    padding: 0 !important;
    background-color: white !important ;
    border:white !important ;
}

.wrap-container .btn:hover{
    background-color: #6C63FF !important ;
}

.wrap-container .btn.active{
    background-color: #6C63FF !important ;
}

.form-field form{
    width: 70% !important;
}



label.form-label{
    margin-bottom: 0 !important;
}

.form-img-text img{
    height: 30%;
    margin-top: 2vw;
}



.welcome-board{
    width: 100vw;
    background-color: #FFF1D6;   
}

.title{
    height: 5vw;
}

.people-group{
    height: 20vw;
}

.people-group img{
    height: 15vw;
    margin-top: auto;
}


.text-img-container{
    width: 80vw !important;
    margin: 10vw !important;
}

.working-boy img{
    height: 15vw;
    margin-left: auto;
}


.working-team img{
    height: 20vw;
}

.info-card{
    height: 7.5vw;
    width:12vw;
    margin: 1vw;
}

.card{
    margin: 1vw;
}

.member-card{
    padding: 0 !important;
    height: 5.5vw;
    width: 10vw;
    background-color: white;
    margin: 1vw;
}


.member-card img{
    height: 2.5vw !important;
}




.board-container{
    padding-top: 10vw;
}

.board-card{
    width: 50vw;
    height: 5vw;
    margin: 2vw;
    padding-left: 2vw;
    padding-right: 2vw;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); 
}

.greeting-people{
    display: flex;
    justify-content: flex-end;
}


.greeting-people img{
    height: 15vw;
    margin-left: auto !important;
}

.last-band-content{
    width:30vw !important;
    margin-top: 5vw;
    margin-bottom: 5vw;
}

.band-button{
    margin: 0.5vw;
    width: 10vw;
}
