.user-profile{
    background-color:#f6f4f4 !important;
    height: 89vh;
    display: flex;
    flex-direction: row;
    margin: 0 !important;
    padding: 0 !important;
    padding-top: 2vw !important;
    width: 75% !important;
    font-size: 0.9vw !important;
    
}


.block1{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25% !important;
    background-color: white;
    height: 75%;
    padding: 1vw;
    border-radius: 0.5vw;
}

.user-posts{
    width: 100%;
    background-color: #f6f4f4 !important;
    margin-bottom: 0.5vw;
    padding: 0.5vw;
    border-radius: 0.5vw;
}

.block2{
    display: flex;
    flex-direction: column;
    width: 70% !important;
    height: 100%;
}

.block-3{
    display: flex;
    flex-direction: column;
    width: 100% !important;
    background-color: white;
    height: 30%;
    padding: 1vw;
    border-radius: 0.5vw;
    margin-bottom: 1vw;
}

.block-4{
    display: flex;
    flex-direction: column;
    width: 100% !important;
    background-color: white;
    height: 60%;
    padding: 1vw;
    border-radius: 0.5vw;
    overflow-y: auto;
}

.block-4::-webkit-scrollbar{
    display: none;
}



.user-img{
    height: 6vw !important; 
    margin-bottom: 0.5vw;   
}


.user-username{
    background-color: rgb(249, 203, 236);
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    border-radius: 0.5vw;
    color:  rgb(231, 41, 177);
}
.user-details{
    width: 100%;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 5vw;
}

.user-details .btn{
    position: absolute;
    right: 1vw !important;
    top: 11vw !important;
    background-color: black !important;
    border-color: black !important;
    color: white !important;

}

.all-skills{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
}


.each-skill{
    margin-right: 1vw;
    margin-bottom: 1vw;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    padding-top: 0.2vw;
    padding-bottom: 0.2vw;
    color:  rgb(11, 95, 168);
    font-weight: 500;
    background-color:  rgb(223, 240, 253);
    border-radius: 0.2vw;
}


.suggested-people-block{
    background-color: rgb(232, 242, 251);
    padding: 0.5vw;
    width: 100% !important;
    margin-bottom: 0.5vw;
}

.activity{
    margin-bottom: 0.5vw;
    padding: 0.5vw;
    width: 100%;
}

.activity:hover{
    cursor:pointer; 
    background-color:rgb(221, 237, 252) !important;
 
}


