.user-profile{
    background-color:#fff7f9 !important;
    height: 89vh;
    display: flex;
    flex-direction: column;
    margin: 0 !important;
    padding: 0 !important;
    width: 75% !important;
    font-size: 0.9vw !important;
    
}

.profile-background{
    position: relative;
    width: 100%;
    height: 10vw;
    background: linear-gradient(to bottom right, #e7be43, #b5ccf3);

}

.user-img{
    position: absolute;
    height: 8vw !important;
    top: 6vw;
    margin-left:1vw;
    z-index: 10;
}

.user-details{
    width: 100%;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 5vw;
}

.user-details .btn{
    position: absolute;
    right: 1vw !important;
    top: 11vw !important;
    background-color: black !important;
    border-color: black !important;
    color: white !important;

}

.all-skills{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
}


.each-skill{
    margin-right: 1vw;
    margin-bottom: 1vw;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    padding-top: 0.2vw;
    padding-bottom: 0.2vw;
    background-color: #d7d9d7;
    border-radius: 0.2vw;
}