.heading{
    position: absolute;
    top: 11vw !important;
    left: 20vw !important;
}

.current-user-img{
    position: absolute;
    height: 10vw !important;
    top: 5vw;
    margin-left:1vw;
    z-index: 10;
}

.user-details-col1{
    padding-top: 6vw;
    width: 20% !important;
    display: flex;
    flex-direction: column;
}

.user-details-col2{
    width: 60% !important;
    display: flex;
    flex-direction: column;
}

.user-details-col1 .form-control{
    width: 90% !important;
    margin-bottom: 0.5vw;

}

.mini-info-bar{
    width: 100%;

}