.heading{
    position: absolute;
    top: 11vw !important;
    left: 20vw !important;
}

.current-user-img{
    height: 10vw !important;
    margin-left:1vw; 
}

.user-details-col1{ 
    width: 20% !important;
    height: 89vh !important ;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1vw;
}

.user-details-col2{
    width: 60% !important;
    height: 89vh !important ;
    display: flex;
    flex-direction: column;
    padding: 1vw;
}

.user-details-col1 .form-control{
    width: 90% !important;
    margin-bottom: 0.5vw;

}

.mini-info-bar{
    width: 100%;

}


.basic-information, .activities{
    width: 100%;
    background-color: white;
    margin-bottom: 2vw;
}

.activities{
    padding: 1vw;
}

.each-info{
    display: flex;
    flex-direction: column;
    
   
}

.user-details-col2 .row{
    margin: 1vw;
}


.edit-icon{
    border-radius: 50%;
    padding: 0.5vw;
    background-color: aqua;
}

.edit-icon:hover{
    cursor: pointer;
}