
.middle-container{
    padding-bottom: 0.1vw !important;
}
.all-posts{
    display: flex;
    flex-direction: column;
    margin: 0 !important;
    padding: 0.5vw !important;
    padding-top: 0 !important;
    padding-bottom: 2vw !important;
    height: 85vh;
    width: 100%;
    overflow-y: auto !important;
}

.post-div{
    display: flex;
    flex-direction: column;
    margin-top: 1vw;
    width: 100%;
}

.post-sender{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.all-posts::-webkit-scrollbar{
    display: none !important;
}




.text-area{
    width: 100%;
    padding: 0.1vw !important;
    padding-left: 0.3vw !important;
    padding-right: 0.3vw !important;
    background-color: white !important;
    margin: 0.5vw;
    border-radius: 1vw;
    gap:0.2vw;
    border: solid 0.1vw rgb(198, 198, 198);
}





.popover {
    max-width: none !important;
    max-height: none !important;
}

.popover-body {
    padding: 0 !important;
}

.material-icons{
    opacity: 0.7;
    font-size: 1.3vw;
}

.tooltip{
    opacity: 0.7 !important;
}


.content-holder{
    width: 100% !important;
    font-size: 0.9vw !important;
    padding: 0 !important;
}

.file-list{
    display: flex;
    flex-wrap: wrap;
    gap:2;
    width: 100%;
}


.post-file-card{
    border: dotted 0.1vw rgb(12, 132, 237);
    border-radius: 0.2vw ;
    padding: 0.2vw;
    margin: 0.1vw ;
    font-size: small;
    background-color: aliceblue;
    margin-bottom: 0.5vw;
    margin-top: 0.5vw;
}

.file-icon{
    color: rgb(12, 132, 237);
    font-size: 1.5vw !important;
}



.file-card{
    width: 10vw;
    border: dotted 0.1vw rgb(12, 132, 237);
    border-radius: 0.2vw ;
    padding: 0.1vw;
    margin: 0.1vw ;
    color: rgb(12, 132, 237);
    font-size: small !important;
    background-color: aliceblue;
}

.text-area-formcontrol, .filePlaceholders{
    resize: none !important;
    width: 100% !important;
    border: none !important;
    margin: 0 !important;
}

.filePlaceholders{
    padding: 0.5vw;
    display: flex;
    flex-wrap: wrap;

}

.replyto-holder{
    width: 100% !important;
    display: flex;
    flex-wrap: wrap;
    padding-left: 2vw;
    opacity: 0.7;
    font-size: 0.8vw;
}



.reply-cancel{
    font-size: 1.05vw;
    margin-right: 0.5vw;
}

.reply-cancel:hover{
    color: black !important;
    opacity: 1 !important;
    font-weight: bold !important;
    transform: scale(1.05);
}



.text-area-formcontrol:focus {
    outline: none; 
    border: none; 
    box-shadow: none; 
}


.text-area-formcontrol::-webkit-scrollbar{
    display: none;
}


.suggested-channel-block{
    background-color: rgb(232, 242, 251);
    padding: 0.5vw;
    margin-bottom: 0.5vw ;
    border-color: rgb(226, 240, 251);
}

.suggested-channel-block:hover{
    cursor: pointer;
    background-color:rgb(209, 232, 252);
    transform: scale(1.03);
    
}

