
.middle-container{
    padding-bottom: 0.1vw !important;
}
.all-posts{
    display: flex;
    flex-direction: column;
    margin: 0 !important;
    padding: 0.5vw !important;
    padding-top: 0 !important;
    height: 85vh;
    width: 100%;
    overflow-y: auto !important;
}

.post-div{
    display: flex;
    flex-direction: column;
    margin-top: 1vw;
    width: 100%;
}

.post-sender{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.all-posts::-webkit-scrollbar{
    display: none !important;
}




.text-area{
    width: 100%;
    padding: 0.1vw !important;
    padding-left: 0.3vw !important;
    padding-right: 0.3vw !important;
    background-color: white !important;
    border-radius: 1vw;
    gap:0.2vw;
    border: solid 0.1vw rgb(198, 198, 198);
}





.popover {
    max-width: none !important;
    max-height: none !important;
}

.popover-body {
    padding: 0 !important;
}

.material-icons{
    opacity: 0.7;
    font-size: 1.3vw;
}

.tooltip{
    opacity: 0.7 !important;
}


.content-holder{
    width: 100% !important;
    font-size: 0.9vw !important;
    padding: 0 !important;
}

.file-card{
    width: 10vw;
    border: dotted 0.1vw grey;
    border-radius: 0.2vw ;
    padding: 0.1vw;
    margin: 0.1vw ;
    background-color: rgb(231, 231, 231);
}

.text-area-formcontrol, .filePlaceholders{
    resize: none !important;
    width: 100% !important;
    border: none !important;
    margin: 0 !important;
}

.filePlaceholders{
    padding: 0.5vw;
    display: flex;
    flex-wrap: wrap;

}

.text-area-formcontrol:focus {
    outline: none; 
    border: none; 
    box-shadow: none; 
}


.text-area-formcontrol::-webkit-scrollbar{
    display: none;
}


