.setuppage{
    background-color: #FEF0D1;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

.main-container{
    background-color: white;
    width: 70vw !important;
    height: 80vh;
    border-radius: 1vw;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
    padding: 0 !important;
}

.image-field{
    width: 20vw !important;
    height: 100% !important;
    background-color: rgb(151, 232, 232);
    border-top-left-radius: 1vw;
    border-bottom-left-radius: 1vw;
}

.image-field img{
    height: 20vw;
}

.form-field{
    overflow-x: hidden;
    overflow-y: auto;
    backface-visibility: hidden;
    transition: transform 0.6s ease-in-out;
}




.wrap-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.carousel.slide{
    background-color: #6C63FF;
    width: 100% !important;
}

.carousel-indicator{
    display: none !important;
}

.wrap-container img{
    height: vw;
}

.wrap-container .btn{
    padding: 0 !important;
    background-color: white !important ;
    border:white !important ;
}

.wrap-container .btn:hover{
    background-color: #6C63FF !important ;
}

.wrap-container .btn.active{
    background-color: #6C63FF !important ;
}

.done-button{
    margin-left: auto !important;
    background-color: #6C63FF !important ;
    border:#6C63FF !important ;
}