.horizontal-placement{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.vertical-placement{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

















@media (max-width: 767px) {
  .navbar{
    height: 10vw !important;
    padding-left: 4vw !important ;
    padding-right:  4vw !important;
    font-size: 4vw;
  }
  .page-layout::-webkit-scrollbar{
    display: none !important;
    }
    .page-layout{
        display: flex;
        flex-direction: column;
        align-items: center;
    }



}

/* Tablets */
@media (min-width: 768px) and (max-width: 1279px) {
    .navbar{
        height: 6vw !important;
        padding-left: 3vw !important ;
        padding-right:  3vw !important;
        font-size: 2vw;
      }
      .page-layout::-webkit-scrollbar{
        display: none !important;
    }
    .page-layout{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}



/* Laptops, Desktops, TVs, and Large Screens */
@media (min-width: 1280px) {
    .navbar{
        padding-left: 2vw !important;
        padding-right: 2vw !important;
    }
    .page-layout::-webkit-scrollbar{
        display: none !important;
    }
    
    
}






.page-layout{
    width: 100vw !important;
    height: 100vh;
    overflow-x:hidden;
}


.navbar{
    width: 100vw;
    background-color: #1A183F;
    color: white;
}


.sub-navbar{
    position: absolute;
    width: 100vw;
    height: 6vh;
    background-color:white !important;
    box-shadow: 0px 0px 7px gray;
    padding-left: 0.5vh !important;
    padding-right:4vh !important;
    z-index: 10000;
}






.page-content{
    overflow-x: hidden;
    position: fixed;
    width: 100vw;
    margin-top: 6vh;
    height: 89vh;   
}

.large-grid-container{
    background-color:#f6f4f4 !important;
    width: 57% !important;
    height: 89vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 !important;
    padding: 0 !important;
}


.small-grid-container1{
    padding: 1vw;
    width: 18% !important;
    height: 89vh;
    max-height: 89vh;
    margin: 0 !important;
   
}

.small-grid-container2{
    padding: 1vw !important;
    width: 25% !important;
    height: 89vh;
    max-height: 89vh;
    margin: 0 !important;
    

}





.small-grid-container-child{
    width: 100%;
    height: 40% !important;
    margin: 0 !important;
    padding: 0 !important;
    overflow-y: auto;
    overflow-x: hidden;
    margin-bottom:1vw !important;
    
}

.small-grid-container-child::-webkit-scrollbar{
    width: 0.3vw;
    background-color: #C3BEFF;
    border-radius: 1vw;
}

.child-blocks{
    margin-bottom: 0.5vw;
    height: 3.5vw;
    width: 100%;
    padding: 0.5vw;

}


